<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atividade 6</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <section>
    <div class="div1">  
        <div>
            <h1>INVERTER STRING</h1>
            <form action="/inverter" method="POST">
            <label>Digite uma String:</label>
             <input type="text" name="string1" placeholder="String">
              <button type="submit">Enviar</button>
              
              <div class="linha"></div>
              <p> Frase Invertida: <span>{{msg}}</span></p>
            </form>
            </div>
        </div>
    </section>
</body>
</html>